<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AppConfigConfigurationLibrary.Properties.BarSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AppConfigConfigurationLibrary.Properties.ConfigurationClass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AppConfigConfigurationLibrary.Properties.BarSettings>
      <setting name="Bar" serializeAs="String">
        <value>abcde</value>
      </setting>
    </AppConfigConfigurationLibrary.Properties.BarSettings>
    <AppConfigConfigurationLibrary.Properties.ConfigurationClass>
      <setting name="CustomSetting1" serializeAs="String">
        <value>1x34</value>
      </setting>
      <setting name="SomeRandomValue" serializeAs="String">
        <value>Did you forget task?</value>
      </setting>
      <setting name="Test" serializeAs="String">
        <value>e</value>
      </setting>
    </AppConfigConfigurationLibrary.Properties.ConfigurationClass>
  </applicationSettings>
</configuration>